<!DOCTYPE html>
<html lang="pt-br">
    <%- include("comum/head") %>
<body>
    <%- include("comum/header") %>
    <section>
        <div class="produtos">
            <img src="" alt="">
            <p></p>
            <p></p>
        </div>
        <div class="produtos">
                <img src="" alt="">
                <p></p>
                <p></p>
        </div>
        <div class="produtos">
                <img src="" alt="">
                <p></p>
                <p></p>
        </div>
        <div class="produtos">
                <img src="" alt="">
                <p></p>
                <p></p>
        </div>
        <div class="produtos">
                <img src="" alt="">
                <p></p>
                <p></p>
        </div>
    </section>
    <%- include("comum/footer") %>
</body>
</html>